In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("tmdb-movies.csv")
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [4]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [7]:
df = df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1992 entries, 0 to 10819
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1992 non-null   int64
 1   imdb_id               1992 non-null   object
 2   popularity            1992 non-null   float64
 3   budget                1992 non-null   int64
 4   revenue               1992 non-null   int64
 5   original_title        1992 non-null   object
 6   cast                  1992 non-null   object
 7   homepage              1992 non-null   object
 8   director              1992 non-null   object
 9   tagline               1992 non-null   object
 10  keywords              1992 non-null   object
 11  overview              1992 non-null   object
 12  runtime               1992 non-null   int64
 13  genres                1992 non-null   object
 14  production_companies  1992 non-null   object
 15  release_date          1992 non-null   object
 16  vote_count            1992 non-null   int64
 17  vote_average          1992 non-null   float64
 18  release_year          1992 non-null   int64
 19  budget_adj            1992 non-null   float64
 20  revenue_adj           1992 non-null   float64
dtypes: float64(4), int64(6), object(11)
memory usage: 342.4+ KB

In [9]:
df1 =df.sort_values(by=['revenue'])

In [10]:
df1.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2197,44678,tt1407049,0.321863,0,0,Altitude,Jessica Lowndes|Julianna Guill|Ryan Donowho|La...,http://www.altitudemovie.com/,Kaare Andrews,Don't Look Down.,...,After a mysterious malfunction sends their sma...,90,Horror|Action|Thriller|Science Fiction,Darclight Films,10/10/10,36,4.8,2010,0.0,0.0
2141,45162,tt1673430,0.444944,3500000,0,Superman/Batman: Apocalypse,Summer Glau|Ed Asner|Tim Daly|Andre Braugher|K...,http://warnervideo.com/supermanbatmanapocalypse//,Lauren Montgomery,The end is near.,...,Batman discovers a mysterious teen-aged girl w...,78,Animation|Action|Adventure,DC Comics|Warner Premiere,9/28/10,95,7.0,2010,3500000.0,0.0
2145,45013,tt1283887,0.442823,5800000,0,Burning Palms,Zoe Saldana|Jamie Chung|Rosamund Pike|Lake Bel...,http://www.theburningpalms.com/,Christopher B. Landon,Five Tales That Will F#%! You Up For Life,...,A subversive tale that interlaces five stories...,112,Comedy|Drama|Family,Films In Motion,4/23/10,11,5.5,2010,5800000.0,0.0
2150,46198,tt1447793,0.423512,1400000,0,My Girlfriend's Boyfriend,Alyssa Milano|Christopher Gorham|Michael Lande...,http://www.mygirlfriendsboyfriend.com/,Daryn Tufts,The story of a girl who meets her one true lov...,...,When Ethan (Christopher Gorham) arrives at the...,84,Comedy|Romance,fiftyfilms,4/22/10,31,6.0,2010,1400000.0,0.0
2159,47386,tt1398428,0.401176,500000,0,YellowBrickRoad,Michael Laurino|Anessa Ramsey|Alex Draper|Cass...,http://www.yellowbrickroadthemovie.com/index.html,Andy Mitton|Jesse Holland,They went looking for evil in the forest but t...,...,"In the Fall of 1940, the entire population of ...",99,Horror|Thriller,Points North Film,1/23/10,22,5.0,2010,500000.0,0.0

In [12]:
df1 =df1[df1['revenue']!=0]

In [13]:
df1.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2252,56272,tt1340773,0.559371,0,10,Elektra Luxx,Carla Gugino|Joseph Gordon-Levitt|Timothy Olyp...,http://www.elektraluxx-movie.com/,Sebastian Gutierrez,From adult film star to functioning adult.,...,A favor for a woman from her past throws the l...,98,Action|Comedy|Drama,Gato Negro Films,3/14/10,23,4.2,2010,0.000000e+00,10.000000
2398,39356,tt1560139,0.028456,3,43,Boy,James Rolleston|Craig Hall|Taika Waititi|Te Ah...,http://www.boythemovie.co.nz,Taika Waititi,"Summer, Girls, Gangs, Drugs ... its not easy b...",...,"It's 1984, and Michael Jackson is king - even ...",87,Drama|Comedy,New Zealand Film Commission|Unison Films|Whenu...,2/14/10,26,7.3,2010,3.000000e+00,43.000000
7506,2196,tt0795368,0.642207,9000000,46,Death at a Funeral,Matthew Macfadyen|Alan Tudyk|Peter Dinklage|Ke...,http://www.deathatafuneral-themovie.com/,Frank Oz,From director Frank Oz comes the story of a fa...,...,Chaos ensues when a man tries to expose a dark...,90,Comedy|Drama,Sidney Kimmel Entertainment|Parabolic Pictures...,2/9/07,262,6.7,2007,9.465017e+06,48.376755
5777,137563,tt2064713,0.305835,0,125,A Band Called Death,Bobby Hackney|Dannis Hackney|David Hackney|Hen...,http://abandcalleddeath.com/,Mark Christopher Covino|Jeff Howlett,"This Band was Punk, before Punk was Punk",...,"Before Bad Brains, the Sex Pistols or even the...",96,Documentary|Music,Picture Machine|Haven Entertainment,6/27/13,28,7.1,2013,0.000000e+00,117.004169
1733,22717,tt1084972,0.278387,75,134,Wanted,Salman Khan|Ayesha Takia|Mahesh Manjrekar|Prak...,http://www.wanted-thefilm.com/,Prabhu Deva,"Mafia wants him DEAD !, Police wants him ALIVE !!",...,Radhe is a hardcore gangster. A sharpshooter w...,129,Action|Comedy|Crime|Thriller,Sahara One Motion Pictures,9/18/09,18,4.9,2009,7.623003e+01,136.197658

In [14]:
least_revenue = df1.iloc[0]
least_revenue

id                                                                  56272
imdb_id                                                         tt1340773
popularity                                                       0.559371
budget                                                                  0
revenue                                                                10
original_title                                               Elektra Luxx
cast                    Carla Gugino|Joseph Gordon-Levitt|Timothy Olyp...
homepage                                http://www.elektraluxx-movie.com/
director                                              Sebastian Gutierrez
tagline                        From adult film star to functioning adult.
keywords                independent film|stuck in elevator|bisexual wo...
overview                A favor for a woman from her past throws the l...
runtime                                                                98
genres                                                Action|Comedy|Drama
production_companies                                     Gato Negro Films
release_date                                                      3/14/10
vote_count                                                             23
vote_average                                                          4.2
release_year                                                         2010
budget_adj                                                              0
revenue_adj                                                            10
Name: 2252, dtype: object

In [15]:
highest_revenue = df1.iloc[-1]
highest_revenue

id                                                                  19995
imdb_id                                                         tt0499549
popularity                                                        9.43277
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
homepage                                      http://www.avatarmovie.com/
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
keywords                culture clash|future|space war|space colony|so...
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                     12/10/09
vote_count                                                           8458
vote_average                                                          7.1
release_year                                                         2009
budget_adj                                                    2.40887e+08
revenue_adj                                                   2.82712e+09
Name: 1386, dtype: object

In [16]:
df2 = df.sort_values(by=['budget'])
df2.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10819,16214,tt0077696,0.044675,0,78000000,Hooper,Burt Reynolds|Robert Klein|Adam West|Jan-Micha...,http://en.wikipedia.org/wiki/Hooper_(film),Hal Needham,The greatest stuntman alive!,...,Burt Reynolds plays a legendary stunt man know...,107,Action|Comedy,Warner Bros.,7/28/78,13,6.0,1978,0.0,2.607307e+08
2130,43920,tt1422020,0.478118,0,430041,Dog Pound,Adam Butcher|Shane Kippel|Mateo Morales|Taylor...,http://www.dogpound-lefilm.com/,Kim Chapiron,Fighting Back Is The Only Way Out,...,Three juvenile delinquents arrive at a correct...,91,Drama,Angoa-Agicoa|TÃƒÂ©lÃƒÂ©film Canada|Mars Films|Part...,4/24/10,53,7.7,2010,0.0,4.300410e+05
2160,30061,tt1494772,0.400305,0,0,Justice League: Crisis on Two Earths,Mark Harmon|William Baldwin|James Woods|Nolan ...,http://warnervideo.com/justiceleaguecrisis/,Sam Liu|Lauren Montgomery,"When Justice meets its match, worlds collide.",...,A heroic version of Lex Luthor from an alterna...,75,Action|Adventure|Animation,DC Comics|Warner Premiere,2/23/10,79,7.1,2010,0.0,0.000000e+00
2161,39452,tt1587707,0.397548,0,4790751,Exit Through the Gift Shop,Banksy|Shepard Fairey|Thierry Guetta|Rhys Ifans,http://www.banksyfilm.com/,Banksy,The world's first Street Art disaster movie,...,Banksy is a graffiti artist with a global repu...,87,Documentary,Paranoid Pictures,1/24/10,200,7.7,2010,0.0,4.790751e+06
2168,33107,tt1391034,0.385303,0,0,And Soon the Darkness,Odette Annable|Amber Heard|Karl Urban|Adriana ...,http://www.andsoonthedarkness.com,Marcos Efron,Alone. Stranded. No One to Trust.,...,When two American girls on a bike trip in a re...,91,Horror|Thriller|Crime|Mystery,StudioCanal|Abandon Pictures|Sandbar Pictures|...,2/25/10,54,5.1,2010,0.0,0.000000e+00

In [17]:
df2 = df2[df2['budget'] !=0]

In [18]:
df2.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
3065,12689,tt0963743,0.472691,1,0,"Angus, Thongs and Perfect Snogging",Georgia Groome|Eleanor Tomlinson|Aaron Taylor-...,http://www.angusthongsmovie.com/intl/uk/,Gurinder Chadha,"Georgia Nicholson is not mental, but her life is.",...,"Georgia Nicolson is fourteen, lives with nosey...",100,Comedy|Drama|Family|Romance,Paramount Pictures|Nickelodeon Movies|Stella-d...,7/25/08,146,6.5,2008,1.012787,0.000000
3581,59296,tt1436559,0.520430,1,1378,"Love, Wedding, Marriage",Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...,http://www.ifcfilms.com/films/love-wedding-mar...,Dermot Mulroney,Here comes the ride.,...,A happy newlywed marriage counselor's views on...,90,Comedy|Romance,120dB Films|Scion Films|Voodoo Production Serv...,6/3/11,55,5.3,2011,0.969398,1335.830503
2398,39356,tt1560139,0.028456,3,43,Boy,James Rolleston|Craig Hall|Taika Waititi|Te Ah...,http://www.boythemovie.co.nz,Taika Waititi,"Summer, Girls, Gangs, Drugs ... its not easy b...",...,"It's 1984, and Michael Jackson is king - even ...",87,Drama|Comedy,New Zealand Film Commission|Unison Films|Whenu...,2/14/10,26,7.3,2010,3.000000,43.000000
6460,18191,tt0443496,0.204002,10,0,Edmond,William H. Macy|Joe Mantegna|Denise Richards|M...,http://www.edmondthefilm.com/,Stuart Gordon,Every fear hides a wish.,...,Seemingly mild-mannered businessman Edmond Bur...,82,Drama|Thriller,First Independent Pictures,8/31/05,16,5.8,2005,11.165633,0.000000
9992,1669,tt0099810,1.072912,30,200,The Hunt for Red October,Alec Baldwin|Sean Connery|Scott Glenn|Sam Neil...,http://www.paramount.com/movies/hunt-red-october,John McTiernan,Invisible. Silent. Stolen.,...,A new Soviet nuclear missile sub (a Boomer) he...,134,Action|Adventure|Thriller,Paramount Pictures|Nina Saxon Film Design|Mace...,3/2/90,615,6.9,1990,50.066956,333.779708

In [19]:
thirdlowest_budget= df2.iloc[2]
thirdlowest_budget

id                                                                  39356
imdb_id                                                         tt1560139
popularity                                                       0.028456
budget                                                                  3
revenue                                                                43
original_title                                                        Boy
cast                    James Rolleston|Craig Hall|Taika Waititi|Te Ah...
homepage                                     http://www.boythemovie.co.nz
director                                                    Taika Waititi
tagline                 Summer, Girls, Gangs, Drugs ... its not easy b...
keywords                 new zealand|maori|farm|goat|duringcreditsstinger
overview                It's 1984, and Michael Jackson is king - even ...
runtime                                                                87
genres                                                       Drama|Comedy
production_companies    New Zealand Film Commission|Unison Films|Whenu...
release_date                                                      2/14/10
vote_count                                                             26
vote_average                                                          7.3
release_year                                                         2010
budget_adj                                                              3
revenue_adj                                                            43
Name: 2398, dtype: object

In [20]:
thirdhighest_budget = df2.iloc[-3]
thirdhighest_budget

id                                                                    285
imdb_id                                                         tt0449088
popularity                                                        4.96539
budget                                                          300000000
revenue                                                         961000000
original_title                   Pirates of the Caribbean: At World's End
cast                    Johnny Depp|Orlando Bloom|Keira Knightley|Geof...
homepage                     http://disney.go.com/disneypictures/pirates/
director                                                   Gore Verbinski
tagline                    At the end of the world, the adventure begins.
keywords                ocean|drug abuse|exotic island|east india trad...
overview                Captain Barbossa, long believed to be dead, ha...
runtime                                                               169
genres                                           Adventure|Fantasy|Action
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|S...
release_date                                                      5/19/07
vote_count                                                           2626
vote_average                                                          6.8
release_year                                                         2007
budget_adj                                                    3.15501e+08
revenue_adj                                                   1.01065e+09
Name: 7387, dtype: object

In [21]:
df3 = df[df['release_year'] == 2006]

In [22]:
df3.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
6554,834,tt0401855,5.838503,50000000,111340801,Underworld: Evolution,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,http://www.sonypictures.com/movies/underworlda...,Len Wiseman,"My God. Brother, what have you done?",...,As the war between the vampires and the Lycans...,106,Fantasy|Action|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems,1/12/06,1015,6.3,2006,5.408346e+07,1.204339e+08
6555,58,tt0383574,4.205992,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,http://disney.go.com/disneypictures/pirates/,Gore Verbinski,Jack is back!,...,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/06,3181,6.8,2006,2.163338e+08,1.152691e+09
6556,920,tt0317219,3.941265,120000000,461983149,Cars,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,http://disney.go.com/disneyvideos/animatedfilm...,John Lasseter|Joe Ranft,Ahhh... it's got that new movie smell.,...,"Lightning McQueen, a hotshot rookie race car d...",117,Animation|Adventure|Comedy|Family,Walt Disney Pictures|Pixar Animation Studios,6/8/06,2336,6.4,2006,1.298003e+08,4.997129e+08
6557,36557,tt0381061,3.789580,150000000,599045960,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,http://www.mgm.com/#/our-titles/233/Casino-Roy...,Martin Campbell,Everyone has a past. Every legend has a beginn...,...,"Le Chiffre, a banker to the world's terrorists...",144,Adventure|Action|Thriller,Eon Productions,11/14/06,2738,7.1,2006,1.622504e+08,6.479695e+08
6558,591,tt0382625,3.655536,125000000,758239851,The Da Vinci Code,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,http://www.sonypictures.com/homevideo/thedavin...,Ron Howard,So Dark The Con Of Man,...,When the curator of the Louvre is found murder...,149,Thriller|Mystery,Columbia Pictures|Imagine Entertainment|Skylar...,5/17/06,1585,6.4,2006,1.352086e+08,8.201647e+08

In [23]:
avg_runtime = df3['runtime'].mean()
round(avg_runtime,2)

109.97

In [24]:
df4 = df[(df['release_year'] >=2000) & (df['release_year'] <= 2005)]

In [25]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 2633 to 8883
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    230 non-null    int64
 1   imdb_id               230 non-null    object
 2   popularity            230 non-null    float64
 3   budget                230 non-null    int64
 4   revenue               230 non-null    int64
 5   original_title        230 non-null    object
 6   cast                  230 non-null    object
 7   homepage              230 non-null    object
 8   director              230 non-null    object
 9   tagline               230 non-null    object
 10  keywords              230 non-null    object
 11  overview              230 non-null    object
 12  runtime               230 non-null    int64
 13  genres                230 non-null    object
 14  production_companies  230 non-null    object
 15  release_date          230 non-null    object
 16  vote_count            230 non-null    int64
 17  vote_average          230 non-null    float64
 18  release_year          230 non-null    int64
 19  budget_adj            230 non-null    float64
 20  revenue_adj           230 non-null    float64
dtypes: float64(4), int64(6), object(11)
memory usage: 39.5+ KB

In [26]:
df4 = df4.sort_values(by=['release_year'])
df4

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
8883,36047,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,http://in-crowd.warnerbros.com/,Mary Lambert,What would you do to get in?,...,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/00,12,5.2,2000,1.899438e+07,6.606877e+06
8663,8871,tt0170016,2.977558,123000000,345141403,How the Grinch Stole Christmas,Jim Carrey|Taylor Momsen|Jeffrey Tambor|Christ...,http://www.grinched.com/,Ron Howard,He puts the mean in green.,...,Inside a snowflake exists the magical land of ...,104,Family|Comedy|Fantasy,Imagine Entertainment|Universal Pictures,11/17/00,733,6.1,2000,1.557539e+08,4.370498e+08
8666,955,tt0120755,1.956406,125000000,546388105,Mission: Impossible II,Tom Cruise|Dougray Scott|Thandie Newton|Ving R...,http://www.missionimpossible.com/,John Woo,Expect the impossible again,...,With computer genius Luther Stickell at his si...,123,Adventure|Action|Thriller,Paramount Pictures|Cruise/Wagner Productions|M...,5/23/00,1269,5.8,2000,1.582865e+08,6.918869e+08
8678,3536,tt0141926,1.229505,62000000,127666415,U-571,Matthew McConaughey|Bill Paxton|Harvey Keitel|...,http://www.u-571.com/,Jonathan Mostow,Heroes are ordinary men who do extraordinary t...,...,"In the midst of World War II, the battle below...",116,Action|Drama|Thriller|War,Universal Pictures|Canal Plus|Dino De Laurenti...,4/20/00,205,6.1,2000,7.851011e+07,1.616630e+08
8681,462,tt0195685,1.208034,52000000,256271286,Erin Brockovich,Julia Roberts|Albert Finney|Aaron Eckhart|Marg...,http://www.brockovich.com/movie.html,Steven Soderbergh,She brought a small town to its feet and a hug...,...,A twice-divorced mother of three who sees an i...,131,Drama,Jersey Films,3/13/00,406,6.9,2000,6.584719e+07,3.245143e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6364,5471,tt0402057,0.423386,0,92076,Beowulf & Grendel,Gerard Butler|Spencer Wilding|Stellan SkarsgÃƒÂ¥...,http://www.beowulfandgrendel.com/,Sturla Gunnarsson,The Hero. The Monster. The Myth.,...,The blood-soaked tale of a Norse warrior's bat...,103,Adventure|Fantasy|Drama|Action,TÃƒÂ©lÃƒÂ©film Canada|Spice Factory|Endgame Entert...,9/14/05,30,6.0,2005,0.000000e+00,1.028087e+05
6365,340,tt0404030,0.422320,7000000,2697930,Everything is Illuminated,Elijah Wood|Eugene Hutz|Boris Leskin|Jana Hrab...,http://wip.warnerbros.com/everythingisillumina...,Liev Schreiber,Leave Normal Behind.,...,A film based on the semi-autobiographical nove...,106,Comedy|Drama,Big Beach Productions|Stillking Films|Warner I...,9/16/05,130,7.4,2005,7.815943e+06,3.012410e+06
6380,546,tt0407265,0.374704,1000000,13350369,Transamerica,Felicity Huffman|Kevin Zegers|Elizabeth PeÃƒÂ±a|...,http://www.transamerica-movie.com/,Duncan Tucker,Life is a Journey. Bring an Open Mind.,...,Stanley is about to get a sex change operation...,103,Drama,IFC Films|The Weinstein Company,12/23/05,65,6.5,2005,1.116563e+06,1.490653e+07
6326,2652,tt0424136,0.548166,950000,7022209,Hard Candy,Patrick Wilson|Ellen Page|Sandra Oh|Odessa Rae...,http://hardcandymovie.com/,David Slade,Strangers shouldn't talk to little girls.,...,A mature 14-year old girl meets a charming 32-...,103,Drama|Thriller,Vulcan Productions Inc.,1/14/05,353,6.8,2005,1.060735e+06,7.840741e+06
6253,8274,tt0436058,1.010680,10000000,0,American Pie Presents: Band Camp,Eugene Levy|Tad Hilgenbrink|Arielle Kebbel|Jas...,http://www.americanreunionmovie.com/,Steve Rash,This One Time at Band Camp...,...,The original American Pie characters have move...,94,Comedy,Rogue Pictures,10/30/05,307,5.2,2005,1.116563e+07,0.000000e+00

In [27]:
di = df4['original_title'].str.split().apply(len).value_counts()
di

2     76
1     52
3     48
4     30
5      8
6      7
10     3
9      3
7      2
8      1
Name: original_title, dtype: int64

In [28]:
total_count = 0
for index,value in di.items():
    total_count += index*value
total_count

629

In [29]:
no_of_movies = len(df4.index)
avg_no_of_words = total_count/no_of_movies
round(avg_no_of_words)

3

In [30]:
vindiesel = df[df['cast'].str.contains('Vin Diesel')]
vindiesel['genres'].value_counts()

Action|Thriller|Crime                        2
Action|Drama                                 1
Adventure|Action|Thriller|Science Fiction    1
Action|Comedy|Drama|Family|Thriller          1
Fantasy|Action|Adventure                     1
Science Fiction|Action|Thriller              1
Thriller|Science Fiction|Action              1
Action|Crime|Thriller                        1
Crime|Thriller                               1
Action|Crime|Drama|Thriller                  1
Action|Adventure|Science Fiction|Thriller    1
Action|Science Fiction|Adventure             1
Name: genres, dtype: int64

In [31]:
emmawatson = df[df['cast'].str.contains('Emma Watson')]
emmawatson['genres'].value_counts()

Adventure|Fantasy|Family            4
Drama|Adventure                     1
Adventure|Family|Fantasy            1
Drama|Family                        1
Drama|Romance                       1
Animation|Comedy|Family             1
Adventure|Fantasy|Family|Mystery    1
Name: genres, dtype: int64

In [32]:
arr =vindiesel['genres'].str.split('|')
arr

4                            [Action, Crime, Thriller]
41                        [Fantasy, Action, Adventure]
630               [Action, Science Fiction, Adventure]
1539                  [Action, Crime, Drama, Thriller]
2766                                 [Crime, Thriller]
2942    [Action, Adventure, Science Fiction, Thriller]
3619                         [Action, Thriller, Crime]
4974                                   [Action, Drama]
5437               [Science Fiction, Action, Thriller]
5650                         [Action, Thriller, Crime]
6204         [Action, Comedy, Drama, Family, Thriller]
7024    [Adventure, Action, Thriller, Science Fiction]
8684               [Thriller, Science Fiction, Action]
Name: genres, dtype: object

In [33]:
l=[]
for index,value in arr.items():
        l.append(value[:])
ad =pd.DataFrame(l)
ad

,0,1,2,3,4
0,Action,Crime,Thriller,None,None
1,Fantasy,Action,Adventure,None,None
2,Action,Science Fiction,Adventure,None,None
3,Action,Crime,Drama,Thriller,None
4,Crime,Thriller,None,None,None
5,Action,Adventure,Science Fiction,Thriller,None
6,Action,Thriller,Crime,None,None
7,Action,Drama,None,None,None
8,Science Fiction,Action,Thriller,None,None
9,Action,Thriller,Crime,None,None
10,Action,Comedy,Drama,Family,Thriller
11,Adventure,Action,Thriller,Science Fiction,None
12,Thriller,Science Fiction,Action,None,None

In [35]:
genres = pd.DataFrame(ad[0].append(ad[1]))
genres = pd.DataFrame(genres[0].append(ad[2]))
genres = pd.DataFrame(genres[0].append(ad[3]))
genres = pd.DataFrame(genres[0].append(ad[4]))
counts  = genres[0].value_counts()
counts

Action             12
Thriller           10
Science Fiction     5
Crime               5
Adventure           4
Drama               3
Family              1
Comedy              1
Fantasy             1
Name: 0, dtype: int64

In [40]:
arr1 =emmawatson['genres'].str.split('|')
arr1

686                        [Drama, Adventure]
1389             [Adventure, Fantasy, Family]
1923             [Adventure, Fantasy, Family]
2634             [Adventure, Fantasy, Family]
3020              [Animation, Comedy, Family]
3374             [Adventure, Family, Fantasy]
4388                         [Drama, Romance]
6190             [Adventure, Fantasy, Family]
7388    [Adventure, Fantasy, Family, Mystery]
7786                          [Drama, Family]
Name: genres, dtype: object

In [41]:
l1=[]
for index,value in arr1.items():
        l1.append(value[:])
ad1 =pd.DataFrame(l1)
ad1

           0          1        2        3
0      Drama  Adventure     None     None
1  Adventure    Fantasy   Family     None
2  Adventure    Fantasy   Family     None
3  Adventure    Fantasy   Family     None
4  Animation     Comedy   Family     None
5  Adventure     Family  Fantasy     None
6      Drama    Romance     None     None
7  Adventure    Fantasy   Family     None
8  Adventure    Fantasy   Family  Mystery
9      Drama     Family     None     None

In [42]:
genres1 = pd.DataFrame(ad1[0].append(ad1[1]))
genres1 = pd.DataFrame(genres1[0].append(ad1[2]))
genres1 = pd.DataFrame(genres1[0].append(ad1[3]))

counts1  = genres1[0].value_counts()
counts1

Family       8
Adventure    7
Fantasy      6
Drama        3
Mystery      1
Romance      1
Comedy       1
Animation    1
Name: 0, dtype: int64